
<button ng-click="ctrl.logShit()"></button>
<div ng-repeat="item in ctrl.catalogue">

	<img src="http://localhost:3000{{item.image_url}}" alt="">
	<button></button>



</div>
<div class="grid__item shoes" ng-repeat="object in ctrl.name">
	<div class="slider">
		<div class="slider__item"><img src="../img/Placeholder.png" alt="Dummy" /></div>
	</div>
	<div class="meta">
		<h3 class="meta__title"> {{ object.name }} </h3>
		<span class="meta__brand"> {{ object.overview }} </span>
		<span class="meta__price"> {{ object.price }} </span>
	</div>
	<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
</div>





<script src="libs/main.js"></script>
















