<nav class="navbar navbar-default">

<div class="container-fluid">
    <div class="navbar-header">
      <a class="" href="/">
        <img src="https://www-304.ibm.com/connections/wikis/form/anonymous/api/wiki/65d6dcb9-6c90-495d-b80b-f1220b0d8d4e/page/58f0bdde-d015-4f99-9b0b-3deddde44945/attachment/759eb52d-188b-4cc4-bf3a-2032321a4b99/media/events.png" alt="">
      </a>
    </div>
  </div>
</nav>