// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
	background: #EFEFEF;

	.entry {
		background: #fff;		
		margin: 15px;
		box-shadow: -3px 3px 3px rgba(225, 12, 0, 0.5);
		overflow: auto;
		

		h5 {
			text-align: center;
		}

		.img_entry {
			width: 90%;
			height: auto;
			display: inline-block;
			margin: auto;
		}
		.price {
			display: inline-block;
			float: right;
			padding: 10px;
			margin: 5px;
			border: 1px solid #999;
		}
	}

}
